<!DOCTYPE html>
<html>
<body>

<form enctype="multipart/form-data">
  <input type="file" name='FirstPhoto'>

</form>
  <button  href="/home/karim/Downloads/NodeTutorial-part4/views/topic-1350661050.jpg" >submit</button>
